html
{
    width: 100vw;
    height: 100vh;
}

body
{
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    border: 0;
}

#id
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

#fullpage
{
    z-index: -3;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, .5);
}
@media screen and (max-width: 730px)
{
    #fullpage
    {
        padding: 10px;
    }
}

#middlebanner
{
    position: relative;
    top: 90%;
    left: 5vw;

    display: inline-block;

    transform: translateY(-90%);
}
@media screen and (max-width: 730px)
{
    #middlebanner
    {
        font-size: 35px;

        left: 0;

        display: block;

        width: 100%;

        text-align: center;
    }
}

#title
{
    font-family: 'Aclonica', sans-serif;
    font-size: 90px;
    line-height: 90%;

    display: block;

    color: rgba(52, 73, 94,1.0);
}

#m
{
    display: inline-block;

    transition: color .3s;
}
#m:hover
{
    color: rgba(46, 204, 113,1.0);
}
#e
{
    display: inline-block;

    transition: color .3s;
}
#e:hover
{
    color: rgba(52, 152, 219,1.0);
}
#a
{
    display: inline-block;

    transition: color .3s;
}
#a:hover
{
    color: rgba(155, 89, 182,1.0);
}
#i
{
    display: inline-block;

    transition: color .3s;
}
#i:hover
{
    color: rgba(230, 126, 34,1.0);
}
#n
{
    display: inline-block;

    transition: color .3s;
}
#n:hover
{
    color: rgba(231, 76, 60,1.0);
}

#sub
{
    font-family: 'Poiret One', sans-serif;
    font-size: 30px;

    display: block;

    color: rgba(127, 140, 141,1.0);
}

#links
{
    font-size: 25px;

    position: absolute;
    right: 7vw;

    margin-top: -100px;
}
@media screen and (max-width: 730px)
{
    #links
    {
        font-size: 35px;

        right: 0;

        width: 100%;

        text-align: center;
    }
}

a
{
    font-family: 'Poiret One', sans-serif;
    font-size: 20px;

    padding-top: 35px;
    padding-bottom: 35px;

    text-decoration: none;

    color: rgba(189, 195, 199,1.0);
}
@media screen and (max-width: 730px)
{
    #links > a
    {
        font-size: 30px;
    }
}

a:hover
{
    color: rgba(241, 196, 15,1.0);
}

.mbreak
{
    display: none;
}
@media screen and (max-width: 730px)
{
    .mbreak
    {
        display: block;
    }
}
