html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-canvas {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

#fullpage{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -3;
    cursor: none;
    background-color: rgba(255, 255, 255, 0.5);
}

#middlebanner{
    position: relative;
    top: 90%;
    transform: translateY(-90%);
    left: 5vw;
    display: inline-block;
}

#title{
    font-size: 90px;
font-family: 'Aclonica', sans-serif;
    color: rgba(52, 73, 94,1.0);
    line-height: 90%;
    cursor: none;
    display: block;
}

#m{
    display: inline-block;
    transition: color .3s;
}
#m:hover{
    color: rgba(46, 204, 113,1.0);
}
#e{
    display: inline-block;
    transition: color .3s;
}
#e:hover{
    color: rgba(52, 152, 219,1.0);
}
#a{
    display: inline-block;
    transition: color .3s;
}
#a:hover{
    color: rgba(155, 89, 182,1.0);
}
#i{
    display: inline-block;
    transition: color .3s;
}
#i:hover{
    color: rgba(230, 126, 34,1.0);
}
#n{
    display: inline-block;
    transition: color .3s;
}
#n:hover{
    color: rgba(231, 76, 60,1.0);
}

#sub{
    font-size: 30px;
    font-family: 'Poiret One', sans-serif;
    color: rgba(127, 140, 141,1.0);
    cursor: none;
    display: block;
}

#links{
    position: absolute;
    right: 7vw;
    font-size: 25px;
    cursor: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;
    color: rgba(189, 195, 199,1.0);
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: none;
}

a:hover{
    color: rgba(241, 196, 15,1.0);
}
